<h1>Seja bem vindo</h1>
<p> <strong>Data:</strong>  <%= data_br(Date.today) %></p>

<%= render "menu" %>

<p>vc esta em ambiente de <strong><%= ambiente_rails %></strong></p>
<p>Nome: <strong><%= @meu_nome %></strong></p>
<p>Curso: <strong><%= @curso %></strong></p>